<!DOCTYPE html>
<html lang="en">
<head>
    {css href="__STATIC__/layui/css/layui.css" /}
    {js href="__CSS__/user.css" /}
    {js href="__CSS__/common.css" /}
    {js href="__STATIC__/layui/layui.js" /}
    <meta charset="UTF-8">
    <title>表单</title>
</head>
<body>
<form class="layui-form" action="{$rootPath}" method="post">
    <input type="hidden" name="group_id" value="{$group_id?$group_id:''}">
    <div class="layui-form-item">
        <label class="layui-form-label">{$form_type=='view'?
            '':
            '<span class="require-symbol">*</span>'}组名</label>
        <div class="layui-input-block">
            <input type="text" name="group_name" required lay-verify="required" autocomplete="off"
                   placeholder="请输入组名" class="layui-input" maxlength="200" value="{$group_name?$group_name:''}"
                   {$form_type=='view'?'readonly':''}>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">{$form_type=='view'?
            '':
            '<span class="require-symbol">*</span>'}备注</label>
        <div class="layui-input-block">
            <textarea type="text" name="remark" required lay-verify="required" autocomplete="off" rows="3"
                      placeholder="请输入备注" class="layui-textarea" maxlength="500" {$form_type=='view'?'readonly':''}>{$remark?$remark:''}</textarea>
        </div>
    </div>
    {$form_type=='view'?
    '':
    '
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-filter="formSubmit">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
    '
    }
</form>
</body>
</html>
{js href="__JS__/group.js" /}